<div class = "row">
  <ul class="nav nav-pills nav-stacked">
      
      <!-- links to show if a doctor has logged in and has a schedule already made -->
      <% if @dr_schedule_made.any? && @current_user.type == "Doctor" %>
        <li class="<%= 'active' if current_page?(user_path(@current_user)) %>"> <%= link_to "Profile", user_path(@current_user)%></li>
        <li class="<%= 'active' if current_page?(dr_availabilities_path)||current_page?(new_patient_appointment_path)%>"> <%= link_to "Book An Appointment", dr_availabilities_path %></li>
        <li class="<%= 'active' if current_page?(patient_appointments_path)%>"> <%= link_to "Patient Bookings", patient_appointments_path %></li>
      
      <!-- links to show if a doctor has logged in and does not have a schedule already made -->

      <% elsif !@dr_schedule_made.any? && @current_user.type == "Doctor" %>
        <li class="<%= 'active' if current_page?(new_dr_availability_path) %>"> <%= link_to "General Clinic Hours", new_dr_availability_path%></li>
        <li class="<%= 'active' if current_page?(new_break_path)%>"> <%= link_to "Block off Time", new_break_path %></li>


      <!-- links to show if a patient has logged in -->
      <% elsif @current_user.type=="Patient" %>
        <li class="<%= 'active' if current_page?(user_path(@current_user)) %>"> <%= link_to "Profile", user_path(@current_user)%></li>
        <li class="<%= 'active' if current_page?(patient_appointments_path) %>"><%= link_to "View Appointments", patient_appointments_path %></li>
        <li class="<%= 'active' if current_page?(users_path) || current_page?(dr_availabilities_path) || current_page?(new_patient_appointment_path)%>"><%= link_to "Book An Appointment", users_path %>
        </li>
      <% end %>
  </ul>
</div>